<!DOCTYPE html>
<html>
<head>
<title>Employee Management</title>
</head>
<body>
<h2>Add Employee</h2>
<form method="POST">
Name:
<input type="text" name="name" required>
<br><br>
Salary:
<input type="number" name="salary" required>
<br><br>
<button type="submit">Insert</button>
</form>
<hr>
<h2>Employee Records</h2>

<table border="1">
<tr>
<th>ID</th>
<th>Name</th>
<th>Salary</th>
</tr>

{% for emp in employees %}

 
<tr>
<td>{{ emp[0] }}</td>
<td>{{ emp[1] }}</td>
<td>{{ emp[2] }}</td>
</tr>

{% endfor %}
</table>
</body>
</html>
